:root {

    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --first-title-color: #FFFFFF;
    --secondary-title-color: #212121;
    --text-color: #757575;
    --icon-color: #AFB1B8;
    --akcent-color: #2196F3;
    --white-color: #FFFFFF;
    --black-color:#000000;
    --dark-bg-color: #2F303A;
    --white-bg-color: #FFFFFF;
    --bg-color-item: #F5F4FA;
    --border-grey: #EEEEEE;
    --border-header: #ECECEC;
    --timing-function: cubic-bezier(0.4,0,0.2,1);
    --duration: 250ms;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--main-font);
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}

.section {
    padding: 94px 0;
}
.link {
    text-decoration: none;
    color: currentColor;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.header,
.features,
.ourwork {
    background-color: var(--white-bg-color);
}

.header {
    border-bottom: 1px solid var(--border-header);
}

.logo {
    color: var(--akcent-color);
    font-family: var(--secondary-font);
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}

.logo:hover,
.logo:focus {
    
}

.header-logo {
    color: var(--black-color);
}

.nav {
    margin-left: 93px;
}

.nav-list {
    display: flex;
}

.header-item + .header-item {
    margin-left: 50px;
}

.header-item {

}

.header-item:hover {
    color: var(--akcent-color);
}

.nav-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
    color: var(--secondary-title-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
    transition: color var(--duration) var(--timing-function);
}

.nav-link:hover,
.nav-link:focus {
    color: var(--akcent-color);
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--akcent-color);
    opacity: 0;
}

.current.nav-link::after {
    opacity: 1;
}

.current {
    color: var(--akcent-color);
}

.contacts-list {
    display: flex;
    margin-left: auto;
}

.contacts-link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--text-color);
    font-family: inherit;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
    transition: color var(--duration) var(--timing-function);
}

.icon-envelope {
    /* width: 16px;
    height: 12px; */
    margin-right: 10px;
    fill: currentColor;
}

.icon-smartphone {
    /* width: 10px;
    height: 16px; */
    margin-right: 10px;
    fill:  currentColor;
}

.contacts-link:hover,
.contacts-link:focus {
    color: var(--akcent-color);
}

.contacts-item + .contacts-item {
    margin-left: 40px;
}

.header-flex {
    display: flex;
    align-items: center;
}

.hero {
    width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-color: #C4C4C4;
    background-image: linear-gradient(to right, rgba(47,48,58,0.4), rgba(47,48,58,0.4)), url(../images/bg-hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-title {
    margin: 0 auto;
    width: 700px;
    margin-bottom: 30px;
    color: var(--first-title-color);
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 2.64px;
    text-transform: uppercase;
}

.hero-btn {
    display: inline-block;
    color: var(--white-color);
    font-family: inherit;
    background-color: var(--akcent-color);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.96px;
    border-radius: 6px;
    padding: 10px 24px;
    min-width: 200px;
    cursor: pointer;
    transition: color var(--duration) var(--timing-function), background-color var(--duration) var(--timing-function);
}

.hero-btn:hover,
.hero-btn:focus {
    color: var(--akcent-color);
    background-color: var(--white-bg-color);
}

.features-flex {
    display: flex;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.features-item {
    width: 270px;
}

.features-thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    background-color: var(--bg-color-item);
    border-radius: 4px;
    margin-bottom: 30px;
}

.features-icons {
    /* width: 70px;
    height: 70px; */
}

.features-item + .features-item {
    margin-left: 30px;
 }

.features-item-title {
    color: var(--secondary-title-color);
    margin-top: 0;
    margin-bottom: 100;
    font-size: 14px;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.features-item-description {
    margin: 0;
    color: var(--text-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
}

.ourwork {
    padding-bottom: 94px;
}

.ourwork-title {
    margin: 0;
    margin-bottom: 50px;
    color: var(--secondary-title-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 1.08px;
}

.ourwork-list {
    display: flex;
}

.ourwork-item {
    position: relative;
}

.ourwork-item + .ourwork-item {
    margin-left: 30px;
}

.ourwork-img {
    display: block;
}

.ourwork-direct-title {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 70px;
    font-size: 14px;
    color: var(--first-title-color);
    background-color: rgba(47,48,58,0.8);

    font-weight: 700;
    letter-spacing: 1.03px;
    text-transform: uppercase;
}

.team {
    background-color: var(--bg-color-item);
}

.team-flex {
    display: flex;
}

.team-item {
    background-color: var(--white-bg-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.team-item + .team-item {
    margin-left: 30px;
}

.team-title {
    margin: 0;
    margin-bottom: 50px;
    color: var(--secondary-title-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 1.08px;
}

.team-img {
    display: block;
}

.team-discription {
    padding-top: 30px;
    padding-bottom: 30px;
}

.specialist {
    margin-top: 0;
    margin-bottom: 10px;
    color: var(--secondary-title-color);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.19;
    letter-spacing: 0.48px;
}

.position {
    margin: 0;
    margin-bottom: 16px;
    color: var(--text-color);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.19;
    letter-spacing: 0.48px;
}

.team-icon-list {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
}

/* .team-icon-item {
    margin-left: 10px;
}

.team-icon-item:first-child {
    margin-left: 0;
} */

.team-icon-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    color: var(--icon-color);
    background-color: var(--white-bg-color);
    border-radius: 50%;
    transition: color var(--duration) var(--timing-function), background-color var(--duration) var(--timing-function);
}

.icon-team {
    /* width: 20px;
    height: 20px; */
    fill: currentColor;
}

.team-icon-link:hover,
.team-icon-link:focus {
    background-color: var(--akcent-color);
    border-radius: 50%;
    color: var(--white-color);
}

.clients-title {
    margin: 0;
    margin-bottom: 50px;
    color: var(--secondary-title-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 1.08px;
}

.clients-flex {
    display: flex;
    gap: 30px;
}

.clients-item {
}

.clients-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 92px;
    width: 170px;
    color: var(--icon-color);
    border: 1px solid var(--icon-color);
    border-radius: 4px;
    transition: color var(--duration) var(--timing-function), border var(--duration) var(--timing-function);
}

.clients-link:hover,
.clients-link:focus {
    color: var(--akcent-color);
    border: 1px solid var(--akcent-color);
}
.icon-clients {
    /* width: 106px;
    height: 60px; */
    fill: currentColor;
}

.footer {
    background-color: var(--dark-bg-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-logo {
    color: var(--white-color);
}

.address {
    margin-top: 28px;
}

.address-link {
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.42px;
}

.address-item + .address-item {
    margin-top: 12px;
}

.white {
    color: var(--white-color);
}

.footer-flex {
    display: flex;
    align-items: baseline;
}

.footer-socials {
    margin-left: 92px;
}

.footer-socials-title {
    margin-top: 0;
    margin-bottom: 20px;
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.2;
    font-style: normal;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--first-title-color);
}

.footer-socials-list {
    display: flex;
    justify-content: space-between;
    gap:10px;
    width: 206px;
}

.footer-socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    color: var(--first-title-color);
    transition: background-color var(--duration) var(--timing-function);
}

.footer-socials-link:hover,
.footer-socials-link:focus {
    background-color: var(--akcent-color);
}

.icon-footer-socials {
    /* width: 20px;
    height: 20px; */
    fill:currentColor;
}

.portfolio-btn {
    padding: 6px 22px;
    color: var(--secondary-title-color);
    background-color: var(--bg-color-item);
    text-align: center;
    font-family: Roboto;
    font-family: inherit;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.48px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition: color var(--duration) var(--timing-function), background-color var(--duration) var(--timing-function), box-shadow var(--duration) var(--timing-function);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    color: var(--white-color);
    background-color: var(--akcent-color);
    box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}

.active {
    color: var(--white-color);
    background-color: var(--akcent-color);  
}

.portfolio-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.portfolio-item + .portfolio-item {
    margin-left: 8px;
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.project-item {
    width: 370px;
}

.project-link {
    display: block;
    transition: var(--duration) var(--timing-function);
}

.project-link:hover,
.project-link:focus {
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
    }

.project-thumb {
    position: relative;
    overflow: hidden;
}

.project-thumb::after {
    content: "Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу та сервісів. Все це дозволить відвідувачу отримати вичерпні відомості про компанію чи приватну особу.";    font-family: var(--main-font);
    color: var(--first-title-color);
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 1.03px;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 63px 24px;
    background-color: rgba(33, 150, 243, 0.9);
    transition: transform var(--duration) var(--timing-function);
}

.project-link:hover .project-thumb::after,
.project-link:focus .project-thumb::after {
    transform: translateY(-100%);
}

.portfolio-img {
    display: block;
    margin-top: 0;
}

.project-discription {
    padding: 20px 24px;
    border-right: 1px solid var(--border-grey);
    border-bottom: 1px solid var(--border-grey);
    border-left: 1px solid var(--border-grey);
}

.project-title {
    margin-top: 0;
    margin-bottom: 4px;
    color: var(--secondary-title-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 1.08px;
}

.product {
    margin: 0;
    padding: 0;
    color: var(--text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.87;
    letter-spacing: 0.48px;
}

.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity var(--duration) var(--timing-function),  visibility var(--duration) var(--timing-function);
}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(1.1);
}

.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    min-width: 530px;
    min-height: 580px;
    padding: 40px;
    background-color: var(--white-bg-color);
    border: rgba(0, 0, 0,0.1);
    border-radius: 4px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
    transform: translate(-50%, -50%) scale(1);
    transition: transform var(--duration) var(--timing-function);
}

.modal-close-btn {
    position: absolute;
    top: 14px;
    right: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: 0px;
    margin: 0;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    background-color: transparent;
}

.icon-modal-close {
    width: 18px;
    height: 18px;
    fill: var(--black-color);
}

.modal>p {
    display: none;
}